<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="invoiceOlim.js"></script>
    <style>
       #container{
           position: absolute;
           top:200px;
           left: 150px;
       }
        input{
            margin: 10px;
            padding: 5px;

        }
    </style>
</head>
<body>
<div id="container" ng-app="invoice" ng-controller="invoiceCntr"> <!--podvyzali app -->
    <b>INVOICE</b><br>
    <input type="number" min="0" ng-model ="qty"/>Quantity<br>
    <input type="number" min="0" step="0.1" ng-model="prc"/>Price
    <select ng-model="sel"> <!--sviazan s value v select-->
        <option ng-repeat="(c,d) in currList">{{c}}</option>
    </select><br>
    <!--Total: {{total() | number : 2}}<span>{{sel}}</span>-->
    Total: <span ng-repeat="(c,v) in currList">{{total(c)|number:2}}{{c}} </span>
</div>

</body>
</html>