<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="questions.js"></script>

</head>
<body>

<div ng-app="quest" ng-controller="questCntr" >


    <button ng-click="wife()">Wife</button>
    <button ng-click="meal()">Meal</button>
<!--<div my-questions="wife name"></div>-->
<div questions="key"></div>
<!--<div my-questions="yor name"></div>-->
</div>

</body>
</html>